<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar PDF
    <i class="mdi-content-send right"></i>
  </button>

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar Convenio
    <i class="mdi-content-send right"></i>
  </button>

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar ITV
    <i class="mdi-content-send right"></i>
  </button><br><br>
  <div class="pestanas">
    <a [routerLink]="['/pages/datos-generales']" class="Datos Generales">Datos Generales</a>
    <a [routerLink]="['/pages/empresa']" class="Empresa">Empresa</a>
    <a [routerLink]="['/pages/integrantes']" class="Integrantes">Integrantes</a>
    <a [routerLink]="['/pages/actividades']" class="Actividades">Actividades</a>
    <a [routerLink]="['/pages/plan-de-trabajo']" class="Plan de Trabajo">Plan de Trabajo</a>
    <a [routerLink]="['/pages/firmas']" class="Firma">Firmas</a>
    <a [routerLink]="['/pages/bibliografia']" class="Bibliografía">Bibliografía</a>
    <a [routerLink]="['/pages/anexos']" class="Anexos">Anexos</a>
    <a [routerLink]="['/pages/observaciones']" class="Observaciones">Observaciones</a>
    <a [routerLink]="['/pages/documentos']" class="Adjuntar Documentos">Adjuntar Documentos</a>
    <a [routerLink]="['/pages/certificados']" class="Solicitud de Certificados">Solicitud de Certificados</a>
  </div>

  <form name="registro" [formGroup]="planTrabajoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <section class="input-field col s12 m6">
        <label for="nombre">Descripción General del Proyecto:</label><br><br><br>
        <input type="text" class="celeste" formControlName="descripcionGe" name="descripcionGe">
        <div *ngIf="descripcionGe?.invalid && (descripcionGe?.dirty || descripcionGe?.touched)"
          class="alert alert-danger ">
          <div *ngIf="descripcionGe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12 m9">
        <label for="correo">Objetivo del Proyecto: </label><br><br><br>
        <input type="email" class="celeste" formControlName="objetivoPro" name="objetivoPro">
        <div *ngIf="objetivoPro?.invalid && (objetivoPro?.dirty || objetivoPro?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivoPro?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12">
        <label for="direccion">Analisis Situacional:</label><br><br><br>
        <input type="text" class="materialize-textarea celeste" formControlName="analisisSi" name="analisisSi">
        <div *ngIf="analisisSi?.invalid && (analisisSi?.dirty || analisisSi?.touched)" class="alert alert-danger ">
          <div *ngIf="analisisSi?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Justificación:</label><br><br><br>
        <input type="text" class="celeste" formControlName="justificacion" name="justificacion">
        <div *ngIf="justificacion?.invalid && (justificacion?.dirty || justificacion?.touched)"
          class="alert alert-danger ">
          <div *ngIf="justificacion?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <br>
    <div>
      <h6><b>&nbsp;&nbsp;Matriz de Marco Lógico</b></h6>
    </div>

    <div class="row border">
      <br>
      <div class="border">&nbsp;&nbsp;Objetivos Generales</div>
      <section class="input-field row s12 m6">
        <label for="nombre"
          class="celeste fblack">Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objetivo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indicador
          Verificable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Metodos
          de Verifcación
        </label>
      </section>
      <section class="input-field col s12 m2 sizze">
        <input type="text" formControlName="numObjetivos" name="numObjetivos">
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="nombreOb" name="nombreOb">
        <div *ngIf="nombreOb?.invalid && (nombreOb?.dirty || nombreOb?.touched)" class="alert alert-danger ">
          <div *ngIf="nombreOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="objetivoOb" name="objetivoOb">
        <div *ngIf="objetivoOb?.invalid && (objetivoOb?.dirty || objetivoOb?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivoOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="indicadorOb" name="indicadorOb">
        <div *ngIf="indicadorOb?.invalid && (indicadorOb?.dirty || indicadorOb?.touched)" class="alert alert-danger ">
          <div *ngIf="indicadorOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="metodosOb" name="metodosOb">
        <div *ngIf="metodosOb?.invalid && (metodosOb?.dirty || metodosOb?.touched)" class="alert alert-danger ">
          <div *ngIf="metodosOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row border">
      <br>
      <div class="border">&nbsp;&nbsp;Criterios Economicos</div>
      <section class="input-field row s12 m6">
        <label for="nombre"
          class="celeste fblack">Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Criterio
        </label>
      </section>
      <section class="input-field col s12 m2 sizze">
        <input type="text" formControlName="numCriterios" name="numCriterios">
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="nombreCriterios" name="nombreCriterios">
        <div *ngIf="nombreCriterios?.invalid && (nombreCriterios?.dirty || nombreCriterios?.touched)"
          class="alert alert-danger ">
          <div *ngIf="nombreCriterios?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6">
        <input type="text" formControlName="criterioCriterios" name="criterioCriterios">
        <div *ngIf="criterioCriterios?.invalid && (criterioCriterios?.dirty || criterioCriterios?.touched)"
          class="alert alert-danger ">
          <div *ngIf="criterioCriterios?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <br><br>
    <div class="row">
      <section class="input-field row s12 m6">
        <label for="nombre" class="orange2 fblack"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objetivos
            Especificos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indicadores
            Verificables&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medios
            de Verificación
          </b></label>
      </section>
      <section class="input-field col s12 m2 sizze4">
        <input type="text" formControlName="objetivosEs" name="objetivosEs">
        <div *ngIf="objetivosEs?.invalid && (objetivosEs?.dirty || objetivosEs?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivosEs?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6">
        <input type="text" formControlName="indicadoresVe" name="indicadoresVe">
        <div *ngIf="indicadoresVe?.invalid && (indicadoresVe?.dirty || indicadoresVe?.touched)"
          class="alert alert-danger ">
          <div *ngIf="indicadoresVe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6">
        <input type="text" formControlName="mediosVe" name="mediosVe">
        <div *ngIf="mediosVe?.invalid && (mediosVe?.dirty || mediosVe?.touched)" class="alert alert-danger ">
          <div *ngIf="mediosVe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Conclusiones:</label><br><br><br>
        <input type="text" class="celeste" formControlName="conclusiones" name="conclusiones">
        <div *ngIf="conclusiones?.invalid && (conclusiones?.dirty || conclusiones?.touched)"
          class="alert alert-danger ">
          <div *ngIf="conclusiones?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Recomendaciones:</label><br><br><br>
        <input type="number" class="celeste" formControlName="recomendaciones" name="recomendaciones">
        <div *ngIf="recomendaciones?.invalid && (recomendaciones?.dirty || recomendaciones?.touched)"
          class="alert alert-danger ">
          <div *ngIf="recomendaciones?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <button class="btn waves-effect waves-light right" type="submit" [disabled]="!planTrabajoForm.valid">
      Confirmar
      <i class="mdi-content-send right"></i>
    </button>
  </form>
</div>