<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar PDF
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar Convenio
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar ITV
                    <i class="mdi-content-send right"></i>
                  </button><br><br>

                  <div class="pestanas">
                    <a href="../datos-generales" class="Datos Generales">Datos Generales</a>
                    <a href="../empresa" class="Empresa">Empresa</a>
                    <a href="../integrantes" class="Integrantes">Integrantes</a>
                    <a href="../actividades" class="Actividades">Actividades</a>
                    <a href="../plan-de-trabajo" class="Plan de Trabajo">Plan de Trabajo</a>
                    <a href="../firmas" class="Firma">Firmas</a>
                    <a href="../bibliografia" class="Bibliografía">Bibliografía</a>
                    <a href="../anexos" class="Anexos">Anexos</a>
                    <a href="../observaciones" class="Observaciones">Observaciones</a>
                    <a href="../documentos" class="Adjuntar Documentos">Adjuntar Documentos</a>
                    <a href="../certificados" class="Solicitud de Certificados">Solicitud de Certificados</a>
                  </div>

<form name="registro" novalidate>

  <div class="col s12 m4">
      <section class="input-field s12 m6">
          <label for="nombre">Nombre de la Entidad:</label><br>
          <input type="text" [(ngModel)]="currentEntity.nombreE" name="nombreE" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
      <section class="input-field s12 m6">
        <label for="edad">Naturaleza de Gestión de la Entidad Receptora:</label><br><br>
        <input class="with-gap" type="radio" ng-model="" name="" id="publica" value="publica" required>
        <label for="publica">Pública</label> &nbsp;&nbsp;
        <input class="with-gap" type="radio" ng-model="" name="" id="privada" value="privada" required>
        <label for="privada">Privada</label><br>
        <input class="with-gap" type="radio" ng-model="" name="" id="mixta" value="mixta" required>
        <label for="mixta">Mixta</label>
      </section><br>
      <section class="input-field s12 m6">
          <label for="nombre">Nombre de la persona autorizada legalmente para la suscripción del convenio:</label><br>
          <input type="text" [(ngModel)]="currentEntity.personaAc" name="personaAc" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
      <section class="input-field s12 m6">
          <label for="apellido">Numero de RUC:</label><br>
          <input type="text" [(ngModel)]="currentEntity.numRuc" name="numRuc" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
      <section class="input-field s12 m6">
          <label for="nombre">Actividad Económica que consta en el RUC:</label><br>
          <input type="text" [(ngModel)]="currentEntity.actividadEc" name="actividadEc" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
      <section class="input-field s12 m6">
          <label for="apellido">Correo Electrónico de la Empresa:</label><br>
          <input type="text" [(ngModel)]="currentEntity.correoE" name="correoE" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
      <section class="input-field s12 m6">
          <label for="apellido">Télefono de Contacto:</label><br>
          <input type="text" [(ngModel)]="currentEntity.telfCo" name="telfCo" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
    </div>

    <div class="col s12 m4">
      <section class="input-field s12 m6">
        <label class="Titulo"><b>Dirección Matriz de Entidad Receptora</b></label><br><br>
      </section>
      <section class="input-field s12 m6">
          <label for="nombre">Parroquia:</label><br>
          <input type="text" [(ngModel)]="currentEntity.parroquiaMa" name="parroquiaMa" required pattern="[ñáéíóúA-Za-z ]+">
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Provincia:</label><br>
        <input type="text" [(ngModel)]="currentEntity.provinciaMa" name="provinciaMa" required pattern="[ñáéíóúA-Za-z ]+">
    </section>
    <section class="input-field s12 m6">
      <label for="nombre">Cantón:</label><br>
      <input type="text" [(ngModel)]="currentEntity.cantonMa" name="cantonMa" required pattern="[ñáéíóúA-Za-z ]+">
  </section>
  <section class="input-field s12 m6">
    <label for="nombre">Dirección:</label><br>
    <input type="text" [(ngModel)]="currentEntity.direccionMa" name="direccionMa" required pattern="[ñáéíóúA-Za-z ]+">
</section>

<section class="input-field s12 m6">
  <label class="Titulo"><b>Dirección Sucursal de Entidad Receptora</b></label><br><br>
</section>
<section class="input-field s12 m6">
    <label for="nombre">Parroquia:</label><br>
    <input type="text" [(ngModel)]="currentEntity.parroquiaSu" name="parroquiaSu" required pattern="[ñáéíóúA-Za-z ]+">
</section>
<section class="input-field s12 m6">
  <label for="nombre">Provincia:</label><br>
  <input type="text" [(ngModel)]="currentEntity.provinciaSu" name="provinciaSu" required pattern="[ñáéíóúA-Za-z ]+">
</section>
<section class="input-field s12 m6">
<label for="nombre">Cantón:</label><br>
<input type="text" [(ngModel)]="currentEntity.cantonSu" name="cantonSu" required pattern="[ñáéíóúA-Za-z ]+">
</section>
<section class="input-field s12 m6">
<label for="nombre">Dirección:</label><br>
<input type="text" [(ngModel)]="currentEntity.direccionSu" name="direccionSu" required pattern="[ñáéíóúA-Za-z ]+">
</section>
    </div>

    <div class="col s12 m4">
      <section class="input-field s12 m6">
        <label for="apellido">Numero de Estudiantes que recibirá inicialmente la Entidad:</label><br><br>
        <input type="text" [(ngModel)]="currentEntity.numEE" name="numEE" required pattern="[ñáéíóúA-Za-z ]+">
    </section>
    <section class="input-field s12 m6">
      <label for="apellido">Total de Estudiantes que recibirá la Entidad:</label><br><br>
      <input type="text" [(ngModel)]="currentEntity.totalEE" name="totalEE" required pattern="[ñáéíóúA-Za-z ]+">
  </section>
  <section class="input-field s12 m6">
    <label for="apellido">Lugar de Ubicación:</label><br><br>
    <input type="text" [(ngModel)]="currentEntity.lugarU" name="lugarU" required pattern="[ñáéíóúA-Za-z ]+">
  </section>
  <section class="input-field s12 m6">
    <label for="apellido">Beneficiarios Directos:</label><br><br>
    <input type="text" [(ngModel)]="currentEntity.beneficiariosDi" name="beneficiariosDi" required pattern="[ñáéíóúA-Za-z ]+">
  </section>
  <section class="input-field s12 m6">
    <label for="apellido">Beneficiarios Indirectos:</label><br><br>
    <input type="text" [(ngModel)]="currentEntity.beneficiariosIndi" name="beneficiariosIndi" required pattern="[ñáéíóúA-Za-z ]+">
</section>
    </div>

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light right" type="submit" (click)="save()">Confirmar
      <i class="mdi-content-send right"></i>
  </button>

</form>
</div>
