<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar PDF
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar Convenio
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar ITV
                    <i class="mdi-content-send right"></i>
                  </button><br><br>
                  <div class="pestanas">
                    <a [routerLink]="['/pages/datos-generales']" class="Datos Generales">Datos Generales</a>
                    <a [routerLink]="['/pages/empresa']" class="Empresa">Empresa</a>
                    <a [routerLink]="['/pages/integrantes']" class="Integrantes">Integrantes</a>
                    <a [routerLink]="['/pages/actividades']" class="Actividades">Actividades</a>
                    <a [routerLink]="['/pages/plan-de-trabajo']" class="Plan de Trabajo">Plan de Trabajo</a>
                    <a [routerLink]="['/pages/firmas']" class="Firma">Firmas</a>
                    <a [routerLink]="['/pages/bibliografia']" class="Bibliografía">Bibliografía</a>
                    <a [routerLink]="['/pages/anexos']" class="Anexos">Anexos</a>
                    <a [routerLink]="['/pages/observaciones']" class="Observaciones">Observaciones</a>
                    <a [routerLink]="['/pages/documentos']" class="Adjuntar Documentos">Adjuntar Documentos</a>
                    <a [routerLink]="['/pages/certificados']" class="Solicitud de Certificados">Solicitud de Certificados</a>
                  </div>

<form name="registro" novalidate>
  <br><div><h6><b>&nbsp;&nbsp;Estrategia de Seguimiento y Evaluación</b></h6></div>
  <div class="row">
      <section class="input-field row s12 m6">
          <label for="nombre" class="orange fblack">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estrategias
          </label></section><br>
          <section class="input-field col s12 m2 sizze2">
          <input type="text" [(ngModel)]="currentEntity.numEstrategia" name="numEstrategia" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6">
          <input type="text" [(ngModel)]="currentEntity.estrategias" name="estrategias" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
  </div>

        <div class="row">
            <section class="input-field col s12 m2 sizze2">
              <input type="text" [(ngModel)]="currentEntity.numEstrategia" name="numEstrategia" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.estrategias" name="estrategias" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
          </div>

          <br><div><h6><b>&nbsp;&nbsp;Bibliografía</b></h6></div>
  <div class="row">
      <section class="input-field row s12 m6">
          <label for="nombre" class="orange fblack">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bibliografía
          </label></section><br>
          <section class="input-field col s12 m2 sizze2">
          <input type="text" [(ngModel)]="currentEntity.numBibliografia" name="numBibliografia" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6">
          <input type="text" [(ngModel)]="currentEntity.bibliografias" name="bibliografias" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
  </div>

        <div class="row">
            <section class="input-field col s12 m2 sizze2">
              <input type="text" [(ngModel)]="currentEntity.numBibliografia" name="numBibliografia" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.bibliografias" name="bibliografias" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
       </div>

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light right" type="submit" (click)="save()">Confirmar
      <i class="mdi-content-send right"></i>
  </button>
</form>
</div>

