<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar PDF
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar Convenio
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar ITV
                    <i class="mdi-content-send right"></i>
                  </button><br><br>
                  <div class="pestanas">
                    <a [routerLink]="['/pages/datos-generales']" class="Datos Generales">Datos Generales</a>
                    <a [routerLink]="['/pages/empresa']" class="Empresa">Empresa</a>
                    <a [routerLink]="['/pages/integrantes']" class="Integrantes">Integrantes</a>
                    <a [routerLink]="['/pages/actividades']" class="Actividades">Actividades</a>
                    <a [routerLink]="['/pages/plan-de-trabajo']" class="Plan de Trabajo">Plan de Trabajo</a>
                    <a [routerLink]="['/pages/firmas']" class="Firma">Firmas</a>
                    <a [routerLink]="['/pages/bibliografia']" class="Bibliografía">Bibliografía</a>
                    <a [routerLink]="['/pages/anexos']" class="Anexos">Anexos</a>
                    <a [routerLink]="['/pages/observaciones']" class="Observaciones">Observaciones</a>
                    <a [routerLink]="['/pages/documentos']" class="Adjuntar Documentos">Adjuntar Documentos</a>
                    <a [routerLink]="['/pages/certificados']" class="Solicitud de Certificados">Solicitud de Certificados</a>
                  </div>

<form name="registro" novalidate>

  <div class="row">
      <section class="input-field col">
        <label for="nombre"><h5><b>&nbsp;Estado</b></h5></label><br><br><br>
        <input type="checkbox" ng-model="" name="" id="aprobado" required>
        <label for="aprobado" class="bgcolor">Aprobado</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="enrevision" required>
        <label for="enrevision">En Revisión</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="corregido" required>
        <label for="corregido" class="bgcolor">Corregido</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="rechazado" required>
        <label for="rechazado">Rechazado</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="enviado" required>
        <label for="enviado" class="bgcolor">Enviado a Senecyt</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="porenviar" required>
        <label for="porenviar">Por enviar a Senecyt</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="desarrollo" required>
        <label for="desarrollo">En Desarrollo</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="terminado" required>
        <label for="terminado" class="bgcolor">Terminado</label>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" ng-model="" name="" id="suspendido" required>
        <label for="suspendido">Suspendido</label>&nbsp;&nbsp;&nbsp;
      </section>
  </div>
  <div class="row">
    <section class="input-field col">
      <label for="nombre"><h5><b>&nbsp;Observaciones</b></h5></label><br><br><br>
        <input type="text" class="materialize-textarea biginput" [(ngModel)]="currentEntity.observacioness" name="observacioness" required pattern="[ñáéíóú,.\w ]+">
    </section>
  </div>


  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light right" type="submit" (click)="save()">Confirmar
      <i class="mdi-content-send right"></i>
  </button>

</form>
</div>

