
<label for="nombre"><h5><b>&nbsp;&nbsp;&nbsp;Proyectos</b></h5></label><br><br>
 <section class="input-field">
  <label for="" class="label1">Carrera:</label>
  <label for="" class="label2">Nombre:</label>
  <label for="" class="label3">Estado:</label>
  <label for="" class="label4">Año Electivo:</label><br>
  <input type="number" name="estado" class="input1">
  <input type="text" name="nombre" class="input2">
  <input type="number" name="carrera" class="input3">
  <input type="text" name="anio" class="input4">
  </section>
  <br><br>
<div class="home-content">
    <div class="overview-boxes">

        <div class="box">
          <div class="right-side">
            <a href="../datos-generales">
            <div class="box-topic">Desarrollo de Software</div>
            <div class="number">Proyecto 1</div>
            <div class="indicator padding21">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">04 de Abril de 2022</span>
            </div>

            <a href="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Editar
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="">
                <img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Eliminar
            </a>
          </a>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>

        <div class="box">
          <div class="right-side">
            <a href="../datos-generales">
            <div class="box-topic">Desarrollo de Software</div>
            <div class="number">Proyecto 2</div>
            <div class="indicator padding21">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">21 de Junio de 2023</span>
            </div>

            <a href="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Editar
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="">
                <img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Eliminar
            </a>
          </a>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>

        <div class="box">
          <div class="right-side">
            <a href="../datos-generales">
            <div class="box-topic">Diseño</div>
            <div class="number">Proyecto 3</div>
            <div class="indicator padding21">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">14 de Enero de 2024</span>
            </div>

            <a href="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Editar
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="">
                <img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Eliminar
            </a>
          </a>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>

        <div class="box boxpadding">
          <div class="right-side">
            <a href="../datos-generales">
            <div class="box-topic">Turismo</div>
            <div class="number">Proyecto 4</div>
            <div class="indicator padding21">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">01 de Diciembre de 2019</span>
            </div>

            <a href="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Editar
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="">
                <img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Eliminar
            </a>
          </a>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>

        <div class="box boxpadding">
          <div class="right-side">
            <a href="../datos-generales">
            <div class="box-topic">Turismo</div>
            <div class="number">Proyecto 5</div>
            <div class="indicator padding21">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">06 de Diciembre de 2019</span>
            </div>

            <a href="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Editar
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="">
                <img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Eliminar
            </a>
          </a>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>

        <div class="box boxpadding">
          <div class="right-side">
            <a href="../datos-generales">
            <div class="box-topic">Desarrollo de Software</div>
            <div class="number">Proyecto 6</div>
            <div class="indicator padding21">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">02 de Diciembre de 2023</span>
            </div>

            <a href="">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Editar
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="">
                <img class="small" src="../../../../assets/image/editar.png" alt="">&nbsp;Eliminar
            </a>
          </a>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>


        <div class="box boxpadding">
          <a href="../datos-generales">
          <div class="right-side">
            <div class="number">&nbsp;Nuevo Proyecto</div><br>
            <img class="small center" src="../../../../assets/image/suma.png" alt="">
        </div>
          </a>
    </div>
</div>



<div class="center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only"></span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only"></span>
      </a>
    </li>
  </ul>
</div>



  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>
